.DS_Store
.ipynb_checkpoints
coreutils
.gradle
.idea
*.venv
spring/images/
/.pretzel/
.pretzel/
**/.pretzel/
**/.pretzel/*
**/.pretzel/**
.cache/
.gradio/
agents/gudenberg_robot_books/
**/agentops.log*
agents/autogen/.coding
agents/autogen/flagged
